<h1>About Us</h1>

<ul>
    <% @abouts.each do |about| %>
        <li>
            <%= about.name %>
        </li>
        <li>
          <%= about.mainText ||= "" %>
        </li>
        <li>
          <%= about.secondaryText ||= "" %>
        </li>
        <li>
          <%= about.finalText ||= "" %>
        </li>
        <li>
          <p>
            <%= about.imageOne ||= "" %>
          </p>
        </li>
        <li>
          <p>
            <%= about.imageTwo ||= "" %>
          </p>
        </li>
    <% end %>
</ul>
