<h1>Contact Us</h1>

<ul>
    <% @contacts.each do |cont| %>
        <li>
            <%= cont.name %>
        </li>
        <li>
          <%= cont.phone ||= "" %>
        </li>
        <li>
          <%= cont.fax ||= "" %>
        </li>
        <li>
          <%= cont.address.name ||= "" %>
        </li>
        <li>
          <%= cont.text ||= "" %>
        </li>
        <li>
          <p>
            <%= cont.image ||= "" %>
          </p>
        </li>
    <% end %>
</ul>
