<%= paginate @products %>

<%= form_tag products_path, method: :get do |f| %>
  <%= label_tag("List only products that are:") %>
  <%= select_tag 'product_status', options_for_select(ProductStatus.all.map{|el| [el.name, el.id]}.insert(0, "")) %>
  <%= submit_tag 'Listem' %>
<% end %>

<% if !@products.empty? %>
  <h3 class="text-center">Products for Sale</h3>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% @products.each do |product| %>
      <%= render "product_row", product: product, order_item: @order_item %>
    <% end %>
  </div>
</div>
<% else %>
  <h2>There are no products for the selected category</h2>
<% end %>
