<%= javascript_pack_tag 'hello_react' %>

<%= content_tag :div,
  id: "productsData",
  data: @products.to_json do %>
<% end %>

<%= form_tag products_path, method: :get do |f| %>
  <%= label_tag("List only products that are:") %>
  <%= select_tag 'product_status', options_for_select(ProductStatus.all.map{|el| [el.name, el.id]}.insert(0, "")) %>
  <%= submit_tag 'Listem' %>
<% end %>

<h1>See our products</h1>

<% if !@products.empty? %>
  <ul>
    <% @products.each do |prod| %>
        <li>
            Veiw the 
            <%= link_to prod.description, prod %>
            page.
        </li>
    <% end %>
  </ul>
<% else %>
  <%# use session to store the productsStatus variable 
    for future display purposes. 
  <div>None of our products are <%@status%></div>
<% end %>
