<h1>The product</h1>

<ul>
    <li>Name: 
        <%= @product.name %>
    </li>
    <li>Description: 
        <%= @product.description %>
    </li>
    <li>There are 
        <%= @product.count %> items in stock.
    </li>
    <li>The weight of the product is 
        <%= @product.weight %> grams.
    </li>
    <li>The product costs $
        <%= @product.price %>
    </li>
</ul>
